services:
    - type: web
      runtime: docker
      name: estagiohub-server
      numInstances: 1
      plan: free
      branch: main
      autoDeploy: true
      buildCommand: docker build -p 8000:10000 .
      rootDir: back-end
      healthCheckPath: /healthcheck
